<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/fancytree/ui.fancytree.css}"
      href="../../../static/realaicy/css/fancytree/ui.fancytree.css"/>

<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/smartadmin/css/realaicy.css}"
      href="../../../static/smartadmin/css/realaicy.css"/>
<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i> 项目管理 <span>>
			新建项目 </span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h6> My Income <span class="txt-color-blue">$47,171</span></h6>
                <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                    1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                </div>
            </li>
            <li class="sparks-info">
                <h6> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"
                                                                    data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span>
                </h6>
                <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                    110,150,300,130,400,240,220,310,220,300, 270, 210
                </div>
            </li>
            <li class="sparks-info">
                <h6> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span>
                </h6>
                <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                    110,150,300,130,400,240,220,310,220,300, 270, 210
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-check"></i> </span>
                    <h2>新建稽查项目</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <div class="row">
                            <form novalidate="novalidate" th:object="${realmodel}" method="POST"
                                  th:action="@{/project/info/save}"
                                  id="wizard-1">
                                <div id="bootstrap-wizard-1" class="col-sm-12">
                                    <div class="form-bootstrapWizard">
                                        <ul class="bootstrapWizard form-wizard">
                                            <li class="active" data-target="#step1">
                                                <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span
                                                        class="title">录入项目基本信息</span> </a>
                                            </li>
                                            <li data-target="#step2">
                                                <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span
                                                        class="title">配置项目稽查流程</span> </a>
                                            </li>
                                            <li data-target="#step3">
                                                <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span
                                                        class="title">分配项目角色及人员</span> </a>
                                            </li>
                                            <li data-target="#step4">
                                                <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span
                                                        class="title">选择稽查数据库</span> </a>
                                            </li>
                                            <li data-target="#step5">
                                                <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span
                                                        class="title">保存项目</span> </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <br>
                                            <br>
                                            <br>
                                            <h4><strong>Step 1 </strong> - 项目基本信息</h4>
                                            <br>
                                            <fieldset>

                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"
                                                                   style="padding-top: 6px">项目名称：</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" id="pjName" name="pjName"
                                                                       th:value="${pjName}"
                                                                       placeholder="项目名称" type="text">
                                                                <input id="updateflag" name="updateflag" type="hidden"
                                                                       th:value="${realneworupdate}">
                                                                <input id="updateID" name="updateID" type="hidden"
                                                                       th:value="${realUpdateID}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"
                                                                   style="padding-top: 6px">项目预算：</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" id="budget" name="budget"
                                                                       th:value="${budget}"
                                                                       placeholder="项目预算" type="text">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"
                                                                   style="text-align: left ;padding-top: 6px">请选择项目经理：</label>
                                                            <div class="col-md-10">
                                                                <select style="width:100%" class="select2"
                                                                        id="slmanager">

                                                                </select>
                                                                <input class="form-control" id="managerid"
                                                                       name="managerid"
                                                                       placeholder="项目预算" type="hidden">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <label>请选择项目生命周期起止时间:</label>
                                                    </div>
                                                    <div class="col-sm-6">

                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" id="from" type="text"
                                                                       placeholder="开始时间">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">

                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" id="to" type="text"
                                                                       placeholder="结束时间">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </fieldset>

                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <br>
                                            <br>
                                            <br>
                                            <h4><strong>Step 2 </strong> - 配置稽查流程</h4>
                                            <br>
                                            <fieldset>

                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <img th:src="@{/realimages/process/temp/a1.png}"
                                                             src="../../../static/realimages/process/temp/a1.png"
                                                             alt="me"
                                                             class="online"/>

                                                    </div>
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <img th:src="@{/realimages/process/temp/a2.png}"
                                                             src="../../../static/realimages/process/temp/a2.png"
                                                             alt="me"
                                                             class="online"/>

                                                    </div>


                                                </div>

                                            </fieldset>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <br>
                                            <br>
                                            <br>
                                            <h4><strong>Step 3 </strong> - 分配项目角色及人员</h4>
                                            <br>
                                            <fieldset>
                                                <legend style="font-size: 14px">请从人才库中为此项目分配预稽查人员</legend>
                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"
                                                                   style="text-align: left ;padding-top: 6px">预稽查工作组：</label>
                                                            <div class="col-md-10">
                                                                <select multiple style="width:100%" class="select2">
                                                                    <optgroup label="肿瘤科">
                                                                        <option value="AK">预稽查员1</option>
                                                                        <option value="HI">预稽查员2</option>
                                                                        <option value="lb">预稽查员3</option>

                                                                    </optgroup>
                                                                    <optgroup label="脑科">
                                                                        <option value="CA">预稽查员4</option>
                                                                        </option>
                                                                        <option value="OR">预稽查员5</option>
                                                                        <option value="WA">预稽查员6</option>
                                                                    </optgroup>
                                                                    <optgroup label="心脏科">
                                                                        <option value="AZ">Arizona</option>
                                                                        <option value="CO">Colorado</option>
                                                                        <option value="ID">Idaho</option>
                                                                        </option>
                                                                        <option value="NE">Nebraska</option>
                                                                        <option value="NM">New Mexico</option>
                                                                        <option value="ND">North Dakota</option>
                                                                        <option value="UT">Utah</option>
                                                                        <option value="WY">Wyoming</option>
                                                                    </optgroup>

                                                                </select>


                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <legend style="font-size: 14px">请从专家库中为此项目分配稽查人员</legend>
                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"
                                                                   style="text-align: left ;padding-top: 6px">稽查工作组：</label>
                                                            <div class="col-md-10">
                                                                <select multiple style="width:100%" class="select2">
                                                                    <optgroup label="肿瘤科">
                                                                        <option value="AK">肿瘤稽查员1</option>
                                                                        <option value="HI">肿瘤稽查员2</option>
                                                                        <option value="lb">肿瘤稽查员3</option>

                                                                    </optgroup>
                                                                    <optgroup label="脑科">
                                                                        <option value="CA">肿瘤稽查员4</option>
                                                                        </option>
                                                                        <option value="OR">肿瘤稽查员5</option>
                                                                        <option value="WA">肿瘤稽查员6</option>
                                                                    </optgroup>
                                                                    <optgroup label="心脏科">
                                                                        <option value="AZ">Arizona</option>
                                                                        <option value="CO">Colorado</option>
                                                                        <option value="ID">Idaho</option>
                                                                        </option>
                                                                        <option value="NE">Nebraska</option>
                                                                        <option value="NM">New Mexico</option>
                                                                        <option value="ND">North Dakota</option>
                                                                        <option value="UT">Utah</option>
                                                                        <option value="WY">Wyoming</option>
                                                                    </optgroup>
                                                                    <optgroup label="特聘稽查员">
                                                                        <option value="boss" selected="selected">王雨萌
                                                                        </option>
                                                                    </optgroup>
                                                                </select>


                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <legend style="font-size: 14px">请从专家库中为此项目分配专家</legend>
                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 10px">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"
                                                                   style="text-align: left ;padding-top: 6px">专家组：</label>
                                                            <div class="col-md-10">
                                                                <select multiple style="width:100%" class="select2">
                                                                    <optgroup label="肿瘤科">
                                                                        <option value="AK">肿瘤专家1</option>
                                                                        <option value="HI">肿瘤专家2</option>
                                                                        <option value="lb">刘备</option>

                                                                    </optgroup>
                                                                    <optgroup label="脑科">
                                                                        <option value="CA">脑科专家1</option>
                                                                        </option>
                                                                        <option value="OR">脑科专家2</option>
                                                                        <option value="WA">脑科专家3</option>
                                                                    </optgroup>
                                                                    <optgroup label="心脏科">
                                                                        <option value="AZ">Arizona</option>
                                                                        <option value="CO">Colorado</option>
                                                                        <option value="ID">Idaho</option>
                                                                        </option>
                                                                        <option value="NE">Nebraska</option>
                                                                        <option value="NM">New Mexico</option>
                                                                        <option value="ND">North Dakota</option>
                                                                        <option value="UT">Utah</option>
                                                                        <option value="WY">Wyoming</option>
                                                                    </optgroup>
                                                                    <optgroup label="特聘专家">
                                                                        <option value="boss" selected="selected">闫主任
                                                                        </option>
                                                                    </optgroup>
                                                                </select>


                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <br>
                                            <br>
                                            <br>
                                            <h4><strong>Step 4</strong> - 选择稽查项数据库</h4>
                                            <div class="row">
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                                    <!-- Widget ID (each widget will need unique ID)-->
                                                    <div class="jarviswidget" id="wid-id-1">

                                                        <header>
                                                        <span class="widget-icon"> <i
                                                                class="fa fa-comments"></i> </span>
                                                            <h2>稽查项树形列表</h2>

                                                        </header>

                                                        <!-- widget div-->
                                                        <div>

                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->
                                                            </div>
                                                            <!-- end widget edit box -->

                                                            <!-- widget content -->
                                                            <div class="widget-body">

                                                                <div class="row">
                                                                    <div class="col-sm-12">

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <!-- Add a <table> element where the tree should appear: -->
                                                                        <table id="treetable"
                                                                               class="table table-striped table-bordered table-hover">
                                                                            <colgroup>
                                                                                <col width="30px"/>
                                                                                <col width="30px"/>
                                                                                <col width="*"/>
                                                                                <col width="50px"/>
                                                                            </colgroup>
                                                                            <thead>
                                                                            <tr>
                                                                                <th></th>
                                                                                <th>#</th>
                                                                                <th>稽查项名称</th>
                                                                                <th>所查文件</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- (Irrelevant source removed.) -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end widget content -->
                                                        </div>
                                                        <!-- end widget div -->
                                                    </div>
                                                    <!-- end widget -->
                                                </article>
                                            </div>


                                        </div>
                                        <div class="tab-pane" id="tab5">
                                            <br>
                                            <br>
                                            <br>
                                            <h4><strong>Step 5</strong> - 确认保存</h4>
                                            <br>
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <a href="javascript:void(0);" id="btnNew"
                                                       class="btn btn-labeled btn-primary"> <span
                                                            class="btn-label"><i
                                                            class="glyphicon glyphicon-ok"></i></span>创建项目
                                                    </a>
                                                    <button type="submit" class="btn btn-primary">
                                                        提交数据
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">
                                                        <!--<li class="previous first disabled">
                                                        <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                                        </li>-->
                                                        <li class="previous disabled">
                                                            <a href="javascript:void(0);"
                                                               class="btn btn-lg btn-default"> Previous </a>
                                                        </li>
                                                        <!--<li class="next last">
                                                        <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                                        </li>-->
                                                        <li class="next">
                                                            <a href="javascript:void(0);"
                                                               class="btn btn-lg txt-color-darken"> Next </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </article>
        <!-- end widget -->
        <!-- WIDGET END -->


    </div>

    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">

    pageSetUp();

    // pagefunction

    var pagefunction = function () {

        console.log("updateflag: " + $("#updateflag").val());

        $("#treetable").fancytree({
            extensions: ["table"],
            checkbox: true,
            table: {
                indentation: 20,      // indent 20px per node level
                nodeColumnIdx: 2,     // render the node title into the 2nd column
                checkboxColumnIdx: 0  // render the checkboxes into the 1st column
            },
            source: {
                url: "/realaicy/temp/ajax-tree-demo.json",
                cache: false
            },
            renderColumns: function (event, data) {
                var node = data.node,
                        $tdList = $(node.tr).find(">td");
                // (index #0 is rendered by fancytree by adding the checkbox)
                $tdList.eq(1).text(node.getIndexHier()).addClass("alignRight");
                // (index #2 is rendered by fancytree)
                $tdList.eq(3).text(node.data.contactName);
                $tdList.eq(4).text(node.data.contactTel);

//                $tdList.eq(4).html("<input type='checkbox' name='like' value='" + node.key + "'>");
            },
            // --- Node events -------------------------------------------------
            activate: function (event, data) {
                var node = data.node;
                // acces node attributes
                $("#nowid").text(node.title);
                if (!$.isEmptyObject(node.data)) {
//          alert("custom node data: " + JSON.stringify(node.data));
                    console.log(node.data);
                    console.log(node.title);
                    console.log(node.data.id);

                    console.log(node.key);


                }
            }
        });


        $("#slmanager").select2({
            ajax: {
                url: "/system/user/list4select",
                dataType: 'json',
                delay: 250,
                type: "GET",
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    /*  console.log("data: " + data);
                     console.log("data2: " + data.items);*/

                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.username,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1

        });


        // Date Range Picker
        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "maxDate", selectedDate);
            }

        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "minDate", selectedDate);
            }
        });


        var $validator = $("#wizard-1").validate({

            rules: {
                email: {
                    required: true,
                    email: "Your email address must be in the format of name@domain.com"
                },
                fname: {
                    required: true
                },
                lname: {
                    required: true
                },
                country: {
                    required: true
                },
                city: {
                    required: true
                },
                postal: {
                    required: true,
                    minlength: 4
                },
                wphone: {
                    required: true,
                    minlength: 10
                },
                hphone: {
                    required: true,
                    minlength: 10
                }
            },

            messages: {
                fname: "Please specify your First name",
                lname: "Please specify your Last name",
                email: {
                    required: "We need your email address to contact you",
                    email: "Your email address must be in the format of name@domain.com"
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                if ($("#updateflag").val() == "new") {
                    console.log("newnew");
                    console.log(jQuery("#slmanager  option:selected").text());
                    console.log("aa" + jQuery("#slmanager").val());
                    $("#managerid").attr("value", jQuery("#slmanager").val());
                    $.ajax({
                        url: form.action,
                        type: form.method,
                        data: $(form).serialize(),
                        success: function (response) {
                            console.log("OKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK");
                            console.log(response);

                            if (response.substring(0, 2) == "ok") {
                                console.log("11111111111" + response);
                                $.smallBox({
                                    title: "创建项目成功",
                                    content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                    color: "#296191",
                                    iconSmall: "fa fa-thumbs-up bounce animated",
                                    timeout: 4000
                                });
                            }

                            else {
                                console.log("2222222" + response);

                                $.SmartMessageBox({
                                    title: "出错了!",
                                    content: response,
                                    buttons: '[确定]'
                                })
                            }
                            $("#treetable").fancytree("getTree").reload();


                        }
                    });
                } else {
                    console.log("editedit");
                    $("#updateflag").attr("value", 'editedit');

                    $.ajax({
                        url: form.action,
                        type: form.method,
                        data: $(form).serialize(),
                        success: function (response) {

                            if (response.substring(0, 2) == "ok")
                                $.smallBox({
                                    title: "修改用户成功",
                                    content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                    color: "#296191",
                                    iconSmall: "fa fa-thumbs-up bounce animated",
                                    timeout: 4000
                                });
                            else {
                                $.SmartMessageBox({
                                    title: "出错了!",
                                    content: response,
                                    buttons: '[确定]'
                                })
                            }
                            $("#treetable").fancytree("getTree").reload();
                        }
                    });

                }
            }

        });

        $('#bootstrap-wizard-1').bootstrapWizard({

            'tabClass': 'form-wizard',
            'onNext': function (tab, navigation, index) {
                var $valid = $("#wizard-1").valid();
                if (!$valid) {
                    $validator.focusInvalid();
                    return false;
                } else {
                    $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
                    $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
                }
            }
        });


    };

    loadScript("smartadmin/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
            loadScript("realaicy/js/fancytree/jquery.fancytree-all.js", pagefunction));
    // end pagefunction

    // Load bootstrap wizard dependency then run pagefunction
    // pagefunction();

</script>
