<!-- widget edit box -->
<div class="jarviswidget-editbox">
    <!-- This area used as dropdown edit box -->
</div>
<!-- end widget edit box -->

<!-- widget content -->
<div class="widget-body no-padding">
    <form class="">

        <fieldset>
            <legend>
                分配角色
            </legend>

            <div class="form-group">
                <label></label>
                <select multiple style="width:100%" class="select2" id="realrole">
                </select>

            </div>

        </fieldset>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="submit">
                        取消
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        提交数据
                    </button>
                </div>
            </div>
        </div>

    </form>


</div>

<script type="text/javascript">

    var rolelist=[{text:'aaaa',children:[{id:1,text:"11"},{id:2,text:"22",selected:true}]},{text:'bbbb',children:[{text:"cccc",children:[{id:3,text:"33"},{id:4,text:"44",selected:true}]}]}];

    pageSetUp();
    var pagefunction = function () {
        $(".select2").select2({
           data:rolelist

        });
    };

    pagefunction();
</script>
