<div class="row no-margin no-padding" style="height: 40px">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 no-margin no-padding" style="height: 40px;font-size: 16px">
        <i class="fa-fw fa fa-home"></i>
        工作流管理
        <span>>
				各个流程元数据列表
			</span>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div
                    class="jarviswidget jarviswidget-color-darken widget-realaicy" id="real_entity"
                    data-widget-editbutton="false"
                    data-widget-collapsed="true"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>我的工作 —— 控制面板</h2>
                </header>

                <div id="realeditdiv">

                </div>
            </div>


            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real0"
                 data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>流程定义列表</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table id="dt_basic_real" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 流程定义ID
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 部署ID
                                </th>
                                <th data-hide="phone" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> 流程定义名称
                                </th>
                                <th class="realaicy_table_header">流程定义KEY</th>
                                <th class="realaicy_table_header">版本号</th>
                                <th class="realaicy_table_header">操作按钮</th>
                            </tr>

                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-processinstance"
                 data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>流程实例列表</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table id="dt_basic_processinstance" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> ID
                                </th>
                                <th class="realaicy_table_header">业务KEY</th>
                                <th class="realaicy_table_header">操作按钮</th>
                            </tr>

                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-excution"
                 data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>流程执行列表</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table id="dt_basic_excution" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> ID
                                </th>
                                <th class="realaicy_table_header">业务KEY</th>
                                <th class="realaicy_table_header">操作按钮</th>
                            </tr>

                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-task"
                 data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>任务列表</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table id="dt_basic_task" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> ID
                                </th>
                                <th class="realaicy_table_header">分配人</th>
                                <th class="realaicy_table_header">名称</th>
                                <th class="realaicy_table_header">操作按钮</th>
                            </tr>

                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">


    // pagefunction
    var pagefunction = function () {
        //console.log("cleared");

        $("#realbtn-search").on("click", function () {
            //do something here
            console.log("cccccccccccccccccccccc");
            // realtable.search("哈哈哈哈哈哈").draw();
            realtable.columns(1).search("哈哈哈哈哈哈").draw();
            console.log("dddddddddddddddddddddd");
        });


        var realtable = $('#dt_basic_real').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,

                    buttons: [
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#realeditdiv").load("/system/user/search", function () {

                                });
                                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                $('html, body').animate({scrollTop: 0}, 'normal');
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'

                    ],

                    ajax: {
                        url: "repository/process-definitions",
                        type: "GET",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },

                        "data": function (d) {

                        },
                        
                        dataSrc:function (json) {
                        /*    console.log("json: " +json);
                            console.log("json string : " +$.param(json));*/
                            json.recordsFiltered=json.size;
                            json.recordsTotal=json.total;
                            return json.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log("realaicy:");
                            // console.log(status);
                            //console.log(xhr.responseText);
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                            //window.location = "http://127.0.0.1:48080/login";
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "id"},
                        {"data": "deploymentId"},
                        {"data": "name"},

                        {"data": "key"},
                        {"data": "version"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>功能按钮</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        }
                       ],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });


        var realtable2 = $('#dt_basic_processinstance').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,

                    buttons: [
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#realeditdiv").load("/system/user/search", function () {

                                });
                                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                $('html, body').animate({scrollTop: 0}, 'normal');
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'

                    ],

                    ajax: {
                        url: "runtime/process-instances",
                        type: "GET",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },

                        "data": function (d) {

                        },

                        dataSrc:function (json) {
                            /*    console.log("json: " +json);
                             console.log("json string : " +$.param(json));*/
                            json.recordsFiltered=json.size;
                            json.recordsTotal=json.total;
                            return json.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log("realaicy:");
                            // console.log(status);
                            //console.log(xhr.responseText);
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                            //window.location = "http://127.0.0.1:48080/login";
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "id"},
                        {"data": "businessKey"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>功能按钮</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        }
                    ],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });

        var realtable3 = $('#dt_basic_excution').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,

                    buttons: [
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#realeditdiv").load("/system/user/search", function () {

                                });
                                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                $('html, body').animate({scrollTop: 0}, 'normal');
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'

                    ],

                    ajax: {
                        url: "runtime/executions",
                        type: "GET",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },

                        "data": function (d) {

                        },

                        dataSrc:function (json) {
                            /*    console.log("json: " +json);
                             console.log("json string : " +$.param(json));*/
                            json.recordsFiltered=json.size;
                            json.recordsTotal=json.total;
                            return json.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log("realaicy:");
                            // console.log(status);
                            //console.log(xhr.responseText);
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                            //window.location = "http://127.0.0.1:48080/login";
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "id"},
                        {"data": "processInstanceId"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>功能按钮</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        }
                    ],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });
        var realtable4 = $('#dt_basic_task').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,

                    buttons: [
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#realeditdiv").load("/system/user/search", function () {

                                });
                                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                $('html, body').animate({scrollTop: 0}, 'normal');
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'

                    ],

                    ajax: {
                        url: "runtime/tasks",
                        type: "GET",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },

                        "data": function (d) {

                        },

                        dataSrc:function (json) {
                            /*    console.log("json: " +json);
                             console.log("json string : " +$.param(json));*/
                            json.recordsFiltered=json.size;
                            json.recordsTotal=json.total;
                            return json.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log("realaicy:");
                            // console.log(status);
                            //console.log(xhr.responseText);
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                            //window.location = "http://127.0.0.1:48080/login";
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "id"},
                        {"data": "assignee"},
                        {"data": "name"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>功能按钮</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        }
                    ],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });


        $('#dt_basic_real').on('click', '.btn-intable-realaicy', function () {
            var data = realtable.row($(this).parents('tr')).data();
            console.log("data: " + data.id);


            if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                $("#real_entity a.jarviswidget-toggle-btn").trigger("click");

            //$("#real_entity").focus();
            //$("html,body").animate({scrollTop: $("#real_entity").offsetTop}, 1000);
            $('html, body').animate({scrollTop: 0}, 'normal');
        });

    };

    pagefunction();
</script>
