<div class="row no-margin no-padding" style="height: 40px">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 no-margin no-padding" style="height: 40px;font-size: 16px">
        <i class="fa-fw fa fa-home"></i>
        工作流管理
        <span>>
				我的工作
			</span>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div
                    class="jarviswidget jarviswidget-color-darken widget-realaicy" id="real_entity"
                    data-widget-editbutton="false"
                    data-widget-collapsed="true"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>我的工作 —— 控制面板</h2>
                </header>
                <div id="realeditdiv">
                </div>
            </div>
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real0"
                 data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>代签收工作列表</h2>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-xs btn-warning" data-toggle="dropdown">
                                请选择角色 <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li th:each="role : ${realroles}">
                                    <a href="javascript:void(0);" th:text="${role.name}" class="roleclick"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Option 2(测试专用)</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Option 3(测试专用)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <table id="dt_basic_real" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    <input type="text" id='real_filter_username' class="form-control"
                                           placeholder="
"/>
                                </th>
                                <th>
                                    <input type="text" id='real_filter_password' class="form-control"
                                           placeholder="
"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" placeholder="
"/>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 任务名称
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 项目名称
                                </th>
                                <th data-hide="phone" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> 所有人
                                </th>
                                <th class="realaicy_table_header">分配人</th>
                                <th class="realaicy_table_header">创建时间</th>
                                <th class="realaicy_table_header">操作按钮</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real1"
                 data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>我的工作列表</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <table id="dt_basic_real2" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    <input type="text" id='real_filter_username2' class="form-control"
                                    placeholder=""/>

                                    <input type="hidden" id='realusername' th:value="${username}"
                                           />
                                </th>
                                <th>
                                    <input type="text" id='real_filter_password2' class="form-control"
                                           placeholder="
"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" placeholder="
"/>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 任务名称
                                </th>
                                <th data-class="expand" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 项目名称
                                </th>
                                <th data-hide="phone" class="realaicy_table_header"><i
                                        class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> 所有人
                                </th>
                                <th class="realaicy_table_header">分配人</th>
                                <th class="realaicy_table_header">创建时间</th>
                                <th class="realaicy_table_header">操作按钮</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>

        </article>
    </div>
</section>

<script type="text/javascript">

    var real_js_role = "";

    function realloadtask(e) {
        console.log("realloadtask: " + e.target.text());
    }


    // pagefunction
    var pagefunction = function () {
        //console.log("cleared");

        $('.roleclick').click(function () {
            console.log("realloadtask: " + $(this).text());
            if ($(this).text() == "项目经理")
                real_js_role = "demo_secretary";
            else real_js_role = "";
            realtable.draw();
        });

        $('.roleclick2').click(function () {
            console.log("realloadtask: " + $(this).text());
            if ($(this).text() == "项目经理")
                real_js_role = "demo_secretary";
            else real_js_role = "";
            realtable2.draw();
        });


        $("#realbtn-search").on("click", function () {
            //do something here
            console.log("cccccccccccccccccccccc");
            // realtable.search("哈哈哈哈哈哈").draw();
            realtable.columns(1).search("哈哈哈哈哈哈").draw();
            console.log("dddddddddddddddddddddd");
        });

        var realtable = $('#dt_basic_real').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,

//                    },
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,

                    buttons: [
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#realeditdiv").load("/system/user/search", function () {

                                });
                                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                $('html, body').animate({scrollTop: 0}, 'normal');
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'

                    ],

                    ajax: {
                        //url: "/system/user/user/list",
                        url: "runtime/tasks/",
                        type: "GET",
                        'beforeSend': function (request) {
                            console.log("real_js_role: " +real_js_role);
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },

                        "data": function (d) {
                            delete d.columns;
                            d.candidateGroup = real_js_role;
                        },
                        dataSrc:function (json) {
                            /*    console.log("json: " +json);
                             console.log("json string : " +$.param(json));*/
                            json.recordsFiltered=json.size;
                            json.recordsTotal=json.total;
                            return json.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log("realaicy:");
                            // console.log(status);
                            //console.log(xhr.responseText);
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                            //window.location = "http://127.0.0.1:48080/login";
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "name"},
                        {
                            "data": null,
                            "defaultContent": "xxx项目名称"
                        },

                        {"data": "owner"},
                        {"data": "assignee"},
                        {"data": "createTime"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>签收任务</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        },
                        {
                            targets: 4,
                            render: function (data, type, row) {
                                return data;
                            }
                        }],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });

        var realtable2 = $('#dt_basic_real2').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,

//                    },
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,

                    buttons: [
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#realeditdiv").load("/system/user/search", function () {

                                });
                                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                $('html, body').animate({scrollTop: 0}, 'normal');
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'

                    ],

                    ajax: {
                        //url: "/system/user/user/list",
                        url: "runtime/tasks/",
                        type: "GET",
                        'beforeSend': function (request) {
                            console.log("real_js_role: " +real_js_role);
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },

                        "data": function (d) {
                            delete d.columns;
                            d.assignee = $('#realusername').val();
                        },
                        dataSrc:function (json) {
                            /*    console.log("json: " +json);
                             console.log("json string : " +$.param(json));*/
                            json.recordsFiltered=json.size;
                            json.recordsTotal=json.total;
                            return json.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log("realaicy:");
                            // console.log(status);
                            //console.log(xhr.responseText);
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                            //window.location = "http://127.0.0.1:48080/login";
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "name"},
                        {
                            "data": null,
                            "defaultContent": "xxx项目名称"
                        },

                        {"data": "owner"},
                        {"data": "assignee"},
                        {"data": "createTime"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>完成任务</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        },
                        {
                            targets: 4,
                            render: function (data, type, row) {
                                return data;
                            }
                        }],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });


        $('#dt_basic_real').on('click', '.btn-intable-realaicy', function () {
            var data = realtable.row($(this).parents('tr')).data();
            console.log("data: " + data.id);

            $.ajax({
                url: "wf/task/claim/"+data.id,
                type: "GET",
                'beforeSend': function (request) {
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    request.setRequestHeader(header, token);
                },
                /*"data": function (d) {
                    delete d.columns;
                    d.action ="claim";
                    d.assignee ="wym";

                },*/
                error: function (xhr, status, error) {
                    if (xhr.responseText.indexOf("invalid") == 0) {
                        location = "http://127.0.0.1:48080/";
                    }
                },success:function(data,textStatus,jqXHR){
                    console.log("data:"+data);
                    realtable.draw();
                    realtable2.draw();

                }
            });

        });

        $('#dt_basic_real2').on('click', '.btn-intable-realaicy', function () {

            var data = realtable2.row($(this).parents('tr')).data();
            console.log("data: " + data.id);

            $.ajax({
                url: "wf/task/complete/"+data.id,
                type: "GET",
                'beforeSend': function (request) {
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    request.setRequestHeader(header, token);
                },
                error: function (xhr, status, error) {
                    if (xhr.responseText.indexOf("invalid") == 0) {
                        location = "http://127.0.0.1:48080/";
                    }
                },success:function(data,textStatus,jqXHR){
                    console.log("data:"+data);
                    realtable.draw();
                    realtable2.draw();

                }
            });

        });


    };
    loadScript("smartadmin/js/plugin/moment/moment.min.js", function () {
        loadScript("smartadmin/js/plugin/datatables/datetime.js", pagefunction);
    });

</script>
